<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kEnableGMSKey</key>
	<false/>
	<key>kHostPartial</key>
	<string>api.dev.fastrouteapp.com</string>
	<key>kHost</key>
	<string>http://api.dev.fastrouteapp.com</string>
</dict>
</plist>
